.category-banner {
  background: url('/assets/img/bg/pink-smoke-bg.jpg') no-repeat center center;
  background-size: cover;
  color: #5a3686;
  padding: 40px 0;      /* Reduced vertical padding */
  font-weight: bold;
  font-size: 1.8rem;    /* Smaller font size */
  text-transform: uppercase;

  h1 {
    color: #6b1f86;
    font-size: 32px;    /* Smaller heading size */
    font-weight: 700;
    text-transform: uppercase;
  }
}
