<ul class="extra-info">
  <li>
    <div class="my-account">
      <div class="extra-title">
        <h5>My Account</h5>
      </div>
      <ul>
        <li><a routerLink="/shop/wishlist">Wishlist</a></li>
        <li><a routerLink="/shop/cart">Cart</a></li>
        <li><a routerLink="/shop/checkout">Checkout</a></li>
        <li><a routerLink="/shop/register">Create Account</a></li>
        <li><a routerLink="/shop/account">Account</a></li>
      </ul>
    </div>
  </li>
  <li>
    <div class="lang">
      <div class="extra-title">
        <h5>Language</h5>
      </div>
      <ul>
        <li><a href="#">English</a></li>
        <li><a href="#">France</a></li>
        <li><a href="#">Germany</a></li>
        <li><a href="#">Bangla</a></li>
      </ul>
    </div>
  </li>
  <li>
    <div class="currency">
      <div class="extra-title">
        <h5>currency</h5>
      </div>
      <ul>
        <li><a href="#">USD - US Dollar</a></li>
        <li><a href="#">EUR - Ruro</a></li>
        <li><a href="#">GBP - Britis Pound</a></li>
        <li><a href="#">INR - Indian Rupee</a></li>
      </ul>
    </div>
  </li>
</ul>
