@use '_variables' as var;
@use '_mixins' as mix;

.tp-compare{
  &-table{
    overflow-x: scroll;
    & td,
    & th{
      vertical-align: middle;
      border: 1px solid rgba($color: var.$black, $alpha: .1);
    }
  }
  &-thumb{
    & img{
      margin-bottom: 15px;
    }
  }
  &-product-title{
    font-size: 18px;
    & a{
      &:hover{
        color: var.$theme-color;
      }
    }
  }
  &-desc{
    & p{
      margin-bottom: 0;
    }
  }
  &-rating{
    & span{
      font-size: 16px;
      color: var.$theme-color;
    }
  }
  &-price{
    & span{
      font-size: 14px;
      color: var.$black;
      font-weight: 500;
      margin-right: 7px;
      &.old-price{
          color: #8c8c8c;
          text-decoration: line-through;
      }
  }
  }
  &-remove{
    & button{
      background: transparent;
      font-size: 16px;
      color: var.$black;

      &:hover{
        color: var.$theme-color;
      }
    }
  }
}