<!-- <div class="announcement-bar">
  <span class="annc-arrow left" (click)="prevAnnouncement()">&#8592;</span>
  <span class="announcement-message">{{ announcements[currentAnnouncement] }}</span>
  <span class="annc-arrow right" (click)="nextAnnouncement()">&#8594;</span>
</div> -->



<header class="header__area">
  <div class="container">
    <div class="logo">
      <a routerLink="/home/home-style-1">
        <img src="/assets/img/logo/logo.png" alt="logo" />
      </a>
    </div>
  </div>
  <div class="header-divider"></div>
</header>
