<app-header-three></app-header-three>


<main>

  <!-- breadcrumb start -->
  <!-- <app-breadcrumb-one title="Login" subtitle="Login"></app-breadcrumb-one> -->
  <!-- breadcrumb end -->

  <!-- login Area start -->
  <section class="login-area pt-100 pb-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="basic-login">
            <h3 class="text-center mb-60 caslon-224">Login</h3>
            <p class="login-subtitle">Please enter your e-mail and password:</p>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

              <div class="form-group floating-label-group">
                <input
                  id="email"
                  type="text"
                  formControlName="email"
                  class="login-input floating-input"
                  required
                  placeholder=" " 
                  autocomplete="username"
                />
                <label for="email" class="floating-label">E-mail</label>
              </div>
              
            
              <div class="form-group floating-label-group">
                <input
                  id="pass"
                  type="password"
                  formControlName="password"
                  class="login-input floating-input"
                  required
                  placeholder=" "
                  autocomplete="current-password"
                />
                <label for="pass" class="floating-label">Password</label>
                <span class="forgot-password avenir-font">
                  <a href="#">Forgot password?</a>
                </span>
              </div>
              
            
              <button class="login-btn" type="submit">LOGIN</button>
              <div class="login-footer-text avenir-font">
                New customer?
                <a [routerLink]="'/register'" class="footer-link avenir-font">Create an account</a>
              </div>
              
            </form>
            
            
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- login Area End-->
</main>

<!-- footer start -->
<app-footer-one></app-footer-one>
<!-- footer end -->